 /* CSS Resets */
 html {
    /* changed font to the percentage below so it would be easier to use REMs. 
    62.5% = 10px and 10px = 1rem */
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    color: #555555;
    font-size: 1.6rem;
}

/* global css */
.btn {
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.4rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    background-color: transparent;
    color: #ffffff;
}
.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Header section */
#header-home-section {
    background-size: cover;
    background-position: top center;
    height: 85vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    background-color: rgba(86, 86, 86, 0.2);
}
#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    z-index: -100;
    object-fit: cover;
}
.header-home-text-container {
    padding-top: 13%;
    color: #ffffff;
    animation: appear 14s ease-in; 
}
.header-home-text-container .line {
    border-top: 0.2rem solid #ffffff;
    width: 5rem;
}
.header-home-text-container h1 {
    font-size: 3rem;
    line-height: 5.5rem;
}
.header-home-text-container h1 span {
    letter-spacing: 0.3rem;
    font-size: 5.5rem;
    color: #fe5000;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.header-home-text-container p {
    line-height: 2.5rem;
    font-weight: lighter;
}

/* facts section */
.facts-section {
    margin-top: 14rem;
}
.facts-text-box .line {
    border-top: 0.2rem solid #fe5000;
    width: 5rem;
}
.facts-text-box h2 {
    font-size: 2.2rem;
    color: #041e42;
}
.facts-text-box h2 span {
    font-size: 3rem;
}
.facts-section .box .hotels {
    margin-right: 4.4rem;
}
.facts-section .box {
    display: inline-block;
}
.facts-section .icons {
    width: 6rem;
}
.fact-info {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem 1rem;
    color: #041e42;
}

/* Map section */
.airpot-map-section {
    margin-top: 10rem;
    position: relative;
}
.airport-info {
    width: 35rem;
    height: 45rem;
    position: absolute;
    left: 20%;
    top: 40%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}
.airport-info img {
    width: 100%;
    max-width: 100%;
}
.airport-info .text-box {
    padding: 3rem 2rem;
}

/* stay section */
.stay-section {
    margin-top: 30rem;
    text-align: center;
}
.stay-section h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #041e42;
    padding-top: 1rem;
}
.stay-section .line {
    border-top: 0.2rem solid #fe5000;
    width: 5rem;
    margin: 0 auto;
}
.stay-section ul {
    list-style-type: none; 
    margin: 2rem 0;
}
.stay-section ul li {
    display: inline-block;
    padding: 0 2.5rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #041e42;
    font-weight: lighter;
}

/* carousel */
.stay-carousel img {
    height: 40rem;
    object-fit: cover;
}

/* things to do section */
.things-section {
    background-image: linear-gradient( 
        to right bottom,
        rgba(0, 48, 135, 0.7),
        rgba(0, 48, 135, 0.7)),
    url("../assets/downtown/matt-koffel-_W8p_1OBkAw-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    margin-top: 10rem;
    color: #ffffff;
    text-align: center;
    height: auto;
}
.things-section .info {
    padding: 5rem 0;
}
.things-section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fe5000;
    text-transform: uppercase;
}
.things-section p {
    font-weight: lighter;
}

/* newsletter sectio */
.newsletter-section {
    margin: 10rem 0;
}
.newsletter-section .line {
    border-top: 0.2rem solid #fe5000;
    width: 5rem;
}
.newsletter-section h2 {
    font-size: 2.2rem;
    color: #041e42;
}
.newsletter-section h2 span {
    font-size: 3rem;
    text-transform: uppercase;
}
.newsletter-section .input-container {
    display: inline-block;
}
.newsletter-section input {
   height: 4.5rem;
   padding-left: 2rem;
}
.newsletter-section .email-input {
    height: 4.5rem;
    margin-top: 2rem;
 }
 .newsletter-section ::placeholder {
     color: #cccccc;
 }
 .newsletter-section .form-btn {
    width: 100%;
    height: 4.5rem;
    border: none;
    background-color: #041e42;
    color: #fe5000;
    font-weight: bold;
    text-transform: uppercase;
 }

 /* header animation */
 @keyframes appear {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0;
     }

     80% {
        opacity: 0;
    }

    90% {
        opacity: 0.5;
    }

    100% {
         opacity: 1;
     }
 }

 /* MEDIA QUERIES */
@media screen and (max-width:991px) {
    
}

@media screen and (max-width:767px) {
    
}
@media screen and (max-width:567px) {
    
}

@media screen and (max-width:350px) {
    #header-home-section {
        border-bottom-left-radius: 0% 0%;
        border-bottom-right-radius: 0% 0%;
    }
    #videobcg {
        border-bottom-left-radius: 0% 0%;
        border-bottom-right-radius: 0% 0%;
    }
    .header-home-text-container {
        padding-top: 38%;
        text-align: center;
    }
    .header-home-text-container .line {
        margin: 0 auto;
    }
    .header-home-text-container h1 {
        font-size: 2.5rem;
    }
    .header-home-text-container h1 span {
        font-size: 4rem;
    }
    .header-home-text-container p br {
        display: none;
    }
    .facts-info {
        justify-content: center !important;
    }
    .facts-text-box {
        text-align: center;
    }
    .facts-text-box .line {
        margin: 0 auto;
    }
    .airport-info {
        width: 28rem;
        position: relative;
        left: 6%;
    }
    .stay-section {
        margin-top: 10rem;
    }
    .stay-section ul {
        display: block;
        padding: 0;
    }
    .stay-section ul li {
        display: block;
    }
    .newsletter-section input {
        margin: 1rem 0;
    }
    .icons-container .svg-inline--fa {
        margin: 0 1rem;
    }
}